@blue-primary: #768ebd;
@bg-light: #f3f4f6;
@bg-white: #ffffff;
@border-light: #e5e7eb;
@text-gray: #6b7280;

.card() {
  background-color: @bg-white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  background-color: @blue-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  flex-shrink: 0;
  border-radius: 0 8px 8px 0;
  z-index: 10;
  width: 180px !important;
  height: 100vh;

  .logo {
    width: 100%;
    height: 100px;
  }

  .dashboard {
    background-color: white;
    width: 150px;
    border-radius: 5px;
  }

  .aside-bottom-container {
    margin-top: auto;
    width: 100%;
    text-align: center;

    .divider {
      width: 100%;
      height: 2px;
      background-color: @border-light;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: @bg-light;
        margin-right: 0.5rem;
      }

      .user-name {
        font-size: 0.8rem;
        font-weight: 600;
        color: @bg-light;
      }
    }
  }
}

.main {
  position: absolute;
  left: 7%;
  top: -0.95%;
  height: 101%;
  width: 93%;
  padding: 1rem;
  background-color: @bg-light;

  .content {
    .card();
    position: absolute;
    padding: 2rem;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 2%;
  }
}

.header {
  margin-bottom: 0rem;
  margin-top: -0.5rem;
  margin-left: 2rem;

  .main-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .title {
    font-size: 0.5rem;
    margin-left: 0.3rem;
  }
}

.my-gyms-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.my-gyms-text {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.plus-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.plus-icon:hover {
  transform: scale(1.1);
}

.modal-input {
  margin-bottom: 12px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.save-btn {
  width: 100%;
}

.logout-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 12px;
}

.edit-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 12px;
}

.modal-image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  .remove-image-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    
    color: white;
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .image-preview {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.custom-file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}
